@using RentApp.Areas.Management.Models
@using RentApp.Helpers
@model DashboardViewModel

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card radius-15 bg-dark">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h2 class="mb-0 text-white">@Model.LastCreatedUser?.FullName<i class="bx bxs-up-arrow-alt font-14 text-white"></i> </h2>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div>
						<p class="mb-0 text-white">Son Kayıt Tarihi: @Model.LastCreatedUser?.CreatedDate.ToString("dd MMMM yyyy hh:mm:ss")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card radius-15 overflow-hidden">
	<div class="card-header border-bottom-0">
		<div class="d-flex align-items-center">
			<div>
				<h2 class="mb-0">Kullanıcılar</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-0">
		<div class="table-responsive">
			<table class="table mb-0">
				<thead>
					<tr>
						<th>Adı Soyadı</th>
						<th>Email Adresi</th>
						<th>Telefon Numarası</th>
						<th>Kimlik Numarası</th>
						<th>Rolü</th>
						<th>Kayıt Tarihi</th>
					</tr>
				</thead>
				@foreach (var item in Model.LastCreatedUsers)
				{
					<tbody>
						<tr>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.IdentityNumber</td>
							<td>@item.Role.GetFriendlyName()</td>
                            <td>@item.CreatedDate.ToString("dd MM yyyy hh:mm:ss")</td>
						</tr>
					</tbody>
				}
			</table>
		</div>
	</div>
</div>
