@model IEnumerable<House>
<h1>Evlerimiz</h1>
<a class="btn btn-success"
   asp-area="Management"
   asp-controller="House"
   asp-action="Create">Ev Ekle</a>
<br>
<div class="row" >
	@foreach (var item in Model)
	{
		<div class="col-12 col-lg-4 col-xl-4">
			<div class="card">
				@if (!string.IsNullOrEmpty(item.ImageUrl))
				{
					<img src="@item.ImageUrl" class="card-img-top"  >
				}
				<div class="card-body">
					<h5 class="card-title">@item.Title</h5>
					<p class="card-text">@Html.Raw(item.Description)</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">@item.Country/@item.City/@item.District</li>
				</ul>
				@if (@item.Status)
				{
					<li class="list-group-item" style="text-align:center">Aktif</li>
				}
				else
				{
					<li class="list-group-item" style="text-align:center">Pasif</li>
				}
				<a class="btn btn-warning"
				   asp-area="Management"
				   asp-controller="House"
				   asp-action="Edit"
				   asp-route-id="@item.Id">
					Düzenle
				</a>
				<br>
				<a class="btn btn-info"
				   asp-area="Management"
				   asp-controller="House"
				   asp-action="Details"
				   asp-route-id="@item.Id">
					Detay
				</a>
				<br>
				<a class="btn btn-danger"
				   asp-area="Management"
				   asp-controller="House"
				   asp-action="Delete"
				   asp-route-id="@item.Id">Sil</a>
			</div>
		</div>
	}
</div>
<br >



