@model House

<div class="loader_bg">
    <div class="loader"><img src="~/images/loading.gif"/></div>
</div>
<!-- end loader -->

<!-- gallery -->
<div class="gallery">
    
    <div class="container">
        <div class="card-title">
            <h1 class="mb-0"><b>@Model.Title</b></h1>
        </div>
        <hr>
        <div class="row">
            @foreach (var item in Model.Gallery)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="@item.ImageUrl1" /></figure>
                    </div>
                </div> 
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="@item.ImageUrl2" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="@item.ImageUrl3" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="@item.ImageUrl4" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="@item.ImageUrl5" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="@item.ImageUrl6" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="@item.ImageUrl7" /></figure>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        <figure><img src="@item.ImageUrl8" /></figure>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    
                    <div class="d-flex align-items-center gap-3">
                        <h3>
                            @Html.Raw(Model.Description)
                        </h3>
                    </div>
                </div>
                <hr>
                <div class="col">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text" style="display:flex ; align-items:left">Yetişkin Kapasitesi:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.AdultCount</span>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">Çocuk Kapasitesi:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.ChildCount</span>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">Oda Kapasitesi:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.RoomCount</span>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">Tuvalet Kapasitesi:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.BathCount</span>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">Kat Sayısı:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.Floors</span>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">Email Adresi:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.Email</span>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">Ülke:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.Country</span>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">Şehir:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.City</span>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">İlçe:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.District</span>
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-text">Adres:</span>
                        <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@Model.Address</span>
                    </div>
                    @foreach (var items in Model.Price)
                    {
                        <div class="input-group input-group-lg">
                            <span class="input-group-text">Gün Sayısı:</span>
                            <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@items.Day</span>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-text">Tutar:</span>
                            <span type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">@items.Cost.ToString("0") TL</span>
                        </div>
                    }
                </div>

            }
        </div>
    </div>
</div>
<br>
<div class="col-md-12">
    <a asp-controller="Rent" asp-action="Contract" asp-route-id="@Model.Id"><button class="book_btn">Şimdi Kirala</button></a>
</div>