@model About

<a class="btn btn-warning"
   asp-area="Management"
   asp-controller="About"
   asp-action="Edit"
   asp-route-id="@Model.Id">Düzenle</a>

 <div class="card">
	<div class="card-body">
		<h5 class="card-title">@Model.Title</h5>
		<p class="card-text">@Html.Raw(Model.Description)</p>
		<p class="card-text">
			<small class="text-muted">@Model.UpdatedDate</small>
		</p>
	</div>
	@if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		<img src="@Model.ImageUrl" class="card-img-top">
	}
</div>
