@model About

<a class="btn btn-primary"
   asp-area="Management"
   asp-controller="About"
   asp-action="Edit"
   asp-route-id="@Model.Id">Düzenle</a>

<div class="row">
	<div class="col-12">
		<div class="col-12 col-lg-4 col-xl-4">
			<div class="card">
				@if (!string.IsNullOrEmpty(Model.ImageUrl))
				{
					<img src="@Model.ImageUrl" class="card-img-top">
				}

				<div class="card-body">
					<h5 class="card-title">@Model.Title</h5>
					<p class="card-text">@Model.Description</p>
					<p class="card-text">@Model.UpdatedDate</p>
				</div>
			</div>
		</div>
	</div>
</div>