
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class=" col-md-4">
                    <h3>İletişim</h3>
                    <ul class="conta">
                        
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>@ViewBag.Footer.FooterAddress</li>
                        <li><i class="fa fa-mobile" aria-hidden="true"></i>@ViewBag.Footer.FooterPhone</li>
                        <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJlFlmGpxTxbGnKdMdflhcpXsfJkhnVDjdKTKxQpCntJnfhNQZMDgsKgbZwwclHgRXfqfgB">@ViewBag.Footer.FooterEmail</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Menü</h3>
                    <ul class="link_menu">
                        <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        <li><a asp-controller="Home" asp-action="About">Hakkımızda</a></li>
                        <li><a asp-controller="Home" asp-action="House">Evlerimiz</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Bizi Takip Edin</h3>
                    <ul class="social_icon" style="margin-left:50px">
                        <li><a href="@ViewBag.Footer.FacebookUrl"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="@ViewBag.Footer.TwitterUrl"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <hr />
                        <li><a href="@ViewBag.Footer.LinkedInUrl"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="@ViewBag.Footer.YoutubeUrl"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>